/* This CSS code is applied for PDF rendering */

.readme-book-cover-image {
    display: none;
}

.book code {
    padding: 0.2em 0em;
    border-radius: 0.25em;
    font-size: 1em;
}

.book pre {
    padding: 0.3em 0.5em;
    border-radius: 0.25em;
    line-height: 1.2em;
}

.book pre>code {
    font-size: 1em;
}

.book h1, .book h2, .book h3, .book h4, .book h5, .book h6 {
    margin-top: 0.7em;
    margin-bottom: .3em;
}

.book table thead tr {
    background: #eee;
}
